services:
  mongodb:
    image: mongo:latest 
    container_name: marketplace_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
